/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

nav ul a.nav-tab {
    font-size: 1.05rem !important;
    padding: 0 50px !important;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.side-nav a {
    padding-left: 30px !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.side-nav li.active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 600px) {
    .side-nav {
        top: 56px !important;
    }
}
@media screen and (min-width: 601px) {
    .side-nav {
        top: 64px !important;
    }
}

.developer {
    padding-top: 12vh;
}
@media screen and (min-width: 993px) {
    .developer {
        padding-top: 24vh;
        font-size: 80px;
    }
}
@media screen and (min-width: 601px) {
    @media screen and (max-width: 992px) {
        .developer {
            font-size: 70px;
            padding-bottom: 3vh
        }
    }
}

.side-padding {
    padding-left: 6px;
    padding-right: 6px;
}

@media screen and (max-width: 360px) {
    nav .brand-logo {
        font-size: 1.7rem !important;
    }
    .side-nav {
        width: 225px !important;
    }
}

.logo-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.dark-grey-text {
    color: rgb(77, 77, 77);
}

.fade{
    position: absolute;
    top:auto;
    left: 0;
    right: 0;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.back-button.ng-hide {
    opacity: 0;
}
.back-button.ng-hide-remove,
.back-button.ng-hide-add {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.site-link i {

}

.site-link {
    color: rgb(255, 153, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
@media screen and (min-width: 993px) {
    .site-link:hover {
        color: rgb(0, 204, 204) !important;
    }
}

@media screen and (max-width: 600px) {
    .card {
        margin-bottom: .5rem !important;
    }
    .card .card-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    nav ul a {
        padding: 0 9px !important;
    }
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 992px) {
        .card .card-content {
            padding-top: 16px !important;
            padding-bottom: 16px !important;
        }
    }
}

input[type='text'],
input[type='number'],
textarea {
    font-size: 16px !important;
}

input {
    padding: 5px !important;
}
input:focus {
    color: teal !important;
}

.prefix {
    padding-top: 15px;
}

::-webkit-input-placeholder {
    color: grey !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: grey !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: grey !important;
}

:-ms-input-placeholder {
   color: grey !important;
}
