/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

nav ul a.nav-tab {
    font-size: 1.05rem !important;
    padding: 0 50px !important;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.side-nav a {
    padding-left: 30px !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.side-nav li.active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 600px) {
    .side-nav {
        top: 56px !important;
    }
}
@media screen and (min-width: 601px) {
    .side-nav {
        top: 64px !important;
    }
}

.developer {
    padding-top: 12vh;
}
@media screen and (min-width: 993px) {
    .developer {
        padding-top: 24vh;
        font-size: 80px;
    }
}
@media screen and (min-width: 601px) {
    @media screen and (max-width: 992px) {
        .developer {
            font-size: 70px;
            padding-bottom: 3vh
        }
    }
}

.side-padding {
    padding-left: 6px;
    padding-right: 6px;
}

.side-nav {
    width: 260px !important;
}

@media screen and (max-width: 365px) {
    nav .brand-logo {
        font-size: 1.7rem !important;
    }
    .side-nav {
        width: 225px !important;
    }
}

.logo-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
@media screen and (max-width: 400px) {
    .logo-padding {
        padding-left: 25px !important;
    }
}

.dark-grey-text {
    color: rgb(77, 77, 77);
}

.fade{
    position: absolute;
    top:auto;
    left: 0;
    right: 0;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.btn-large:hover {
    background-color: #2582c1 !important;
}

p.slim {
    font-size: 20px !important;
}
@media screen and (min-width: 993px) {
    p.slim {
        font-size: 22px !important;
    }
}
@media screen and (max-width: 600px) {
    p {
        font-size: 20px !important;
    }
    p.smaller-text {
        font-size: 18px !important;
    }
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

p.no-margins {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.dark-navy {
    background-color: #354458 !important;
}

.medium-blue {
    background-color: #3a9ad9 !important;
}

.coral {
    background-color: rgb(255, 77, 77) !important;
}

.medium-blue-text {
    color: #3a9ad9 !important;
}

.sea-green {
    background-color: #29aba4 !important;
}

.site-link {
    color: rgb(255, 77, 77);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
@media screen and (min-width: 993px) {
    .site-link:hover {
        color: #3a9ad9 !important;
    }
}

.card {
    border-radius: 6px !important;
}
@media screen and (max-width: 600px) {
    .card {
        margin-bottom: .5rem !important;
    }
    .card .card-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    nav ul a {
        padding: 0 9px !important;
    }
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 992px) {
        .card .card-content {
            padding-top: 16px !important;
            padding-bottom: 16px !important;
        }
    }
}

input[type='text'],
input[type='number'],
textarea {
    font-size: 16px !important;
}

input[type=text]:focus {
    border-bottom: 1px solid #3a9ad9 !important;
    box-shadow: 0 1px 0 0 #3a9ad9 !important;
}

.input-field .prefix.active {
    color: #3a9ad9 !important;
}

input {
    padding: 5px !important;
}
input:focus {
    color: #3a9ad9 !important;
}

.prefix {
    padding-top: 15px;
}

::-webkit-input-placeholder {
    color: grey !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: grey !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: grey !important;
}

:-ms-input-placeholder {
   color: grey !important;
}
