<div ng-app="contact" ng-controller="contactCtrl">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m9">
                    <h1 class="header center-on-small-only">Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m9">
                    <h5 class="blue-grey-text center-on-small-only">Email: <a href="mailto:amaczugowski@gmail.com">amaczugowski@gmail.com</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m9">
                    <h5 class="blue-grey-text center-on-small-only">GitHub: <a href="http://www.github.com/amaczugowski">github.com/amaczugowski</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>