<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Maczugowski</title>
    <meta name="description" content="The personal website of Andrew Maczugowski.">
    <meta name="author" content="Andrew Maczugowski <amaczugowski@gmail.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styling -->
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google icon font -->
    <link href="bower_components/mdi/css/materialdesignicons.min.css" rel="stylesheet"> <!-- Material icon font -->
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css" media="screen,projection"/>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Page Scripts -->
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

    <!-- My Scripts -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/skills.js"></script>
    <script src="js/controllers/portfolio.js"></script>
    <script src="js/controllers/contact.js"></script>
</head>


<body class="grey lighten-3">
<!-- Nav Bar for the website -->
<header ng-app="myApp" ng-controller="myAppCtrl">
    <div class="navbar-fixed">
        <nav class="dark-navy">
            <div class="nav-wrapper">
                <!-- <ul class="back-button left hide-on-large-only" ng-show="!shared.main">
                    <li>
                        <a ui-sref="main"><i class="material-icons">navigate_before</i></a>
                    </li>
                </ul> -->
                <a ui-sref="about" class="brand-logo logo-padding hide-on-med-and-down">Andrew Maczugowski</a>
                <a class="brand-logo logo-padding hide-on-large-only">Andrew Maczugowski</a>
                <ul class="left">
                    <li>
                        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li ng-class="{active:shared.about}">
                        <a class="nav-tab waves-effect" ui-sref="about">about</a>
                    </li>
                    <li ng-class="{active:shared.portfolio}">
                        <a class="nav-tab waves-effect" ui-sref="portfolio">portfolio</a>
                    </li>
                    <li ng-class="{active:shared.skills}">
                        <a class="nav-tab waves-effect" ui-sref="skills">skills</a>
                    </li>
                    <li>
                        <a class="nav-tab waves-effect" href="./Andrew_Maczugowski_Resume_September_2017.pdf" target="_blank">resume</a>
                    </li>
                    <li>
                        <a ng-click="shared.go('contact')" class="waves-effect waves-light btn-large medium-blue">Contact</a>
                    </li>
                </ul>
                <ul class="side-nav medium-blue" id="mobile-nav">
                    <li ng-class="{coral:shared.about}">
                        <a class="white-text waves-effect" ng-click="closeSideNav('about')">about</a>
                    </li>
                    <li ng-class="{coral:shared.portfolio}">
                        <a class="white-text waves-effect" ng-click="closeSideNav('portfolio')">portfolio</a>
                    </li>
                    <li ng-class="{coral:shared.skills}">
                        <a class="white-text waves-effect" ng-click="closeSideNav('skills')">skills</a>
                    </li>
                    <li>
                        <a class="white-text waves-effect"
                           href="./Andrew_Maczugowski_Resume_September_2017.pdf"
                           target="_blank"
                           ng-click="closeSideNav()">resume</a>
                    </li>
                    <li ng-class="{coral:shared.contact}">
                        <a class="white-text waves-effect" ng-click="closeSideNav('contact')">contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script>
        // Initialize Materialize side nav
        $(".button-collapse").sideNav();
    </script>
</header>


<div ui-view class="fade"></div>


</body>
</html>
