<div>
    <div class="section">
        <div class="container">
            <div class="row center-align">
                <h1 class="light blue-grey-text">Developer.</h1>
            </div>
            <h5 class="row center-align thin">
                <a href="#!/about">about</a> | <a href="#!/skills">skills</a>
            </h5>
            <div class="row center-align">
                <a ng-click="shared.go('#!/contact')" class="waves-effect waves-light btn-large">Contact</a>
            </div>
        </div>
    </div>
</div>