<div ng-app="main" ng-controller="mainCtrl">
    <div class="section">
        <div class="container">
            <div class="row center-align">
                <h1 class="light blue-grey-text">Developer.</h1>
            </div>
            <div class="row hide-on-med-and-up center-align">
                <a ng-click="shared.go('#!/about')" class="grey waves-effect waves-light btn-large">About</a>
            </div>
            <div class="row hide-on-med-and-up center-align">
                <a ng-click="shared.go('#!/skills')" class="grey waves-effect waves-light btn-large">Skills</a>
            </div>
            <div class="row center-align">
                <a ng-click="shared.go('#!/contact')" class="waves-effect waves-light btn-large">Contact</a>
            </div>
        </div>
    </div>
</div>