<div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m9">
                    <h1 class="header center-on-small-only">About Me</h1>
                    <p class="flow-text">I am a motivated, self-driven student at Virginia Tech looking to explore new opportunities in computer science. I have experience working both as a team member and an individual contributor to personal, school, and work-related software projects. I am seeking an internship that will help me gain additional experience as a software developer.</p>
                </div>
            </div>
        </div>
    </div>
</div>