<div class="section">
    <div class="container">
        <div class="row no-bottom-margin">
            <div class="col s12 m9">
                <h1 class="header center-on-small-only light">Developer.</h1>
                <p class="flow-text dark-grey-text no-bottom-margin smaller-text">I am a motivated, self-driven undergraduate student at Virginia Tech looking to explore new opportunities in computer science. I have experience working both as a team member and an individual contributor to personal, school, and work-related software projects. I am seeking an internship that will help me gain additional experience as a software developer.</p>
            </div>
        </div>
        <div class="row no-bottom-margin">
            <div class="col s12 m9">
                <p class="slim dark-grey-text no-bottom-margin">
                    <a class="site-link" ui-sref="portfolio">Check out the projects I've worked on</a> or <a class="site-link" ui-sref="skills">take a look at my skills</a>.
                </p>
            </div>
        </div>
    </div>
</div>
