<div class="section">
    <div class="container">
        <div class="row no-bottom-margin">
            <div class="col s12 m9 offset-m1">
                <h1 class="header center-on-small-only light">Developer.</h1>
            </div>
            <div class="col s6 offset-s3 m6 offset-m2 l2 offset-l1 center-on-small-only">
                <p class="flow-text"></p>
                <img class="circle responsive_img" width="100%" src="./assets/Andrew_Maczugowski.jpg"></img>
                <p class="flow-text"></p>
            </div>
            <div class="col s12 m9 offset-m1 l7">
                <p class="flow-text dark-grey-text no-bottom-margin smaller-text">I am a motivated, self-driven Junior at Virginia Tech looking to explore new opportunities in computer science. I have experience working both as a team member and an individual contributor to personal, school, and work-related software projects.</p>
                <p class="flow-text dark-grey-text no-bottom-margin smaller-text">My passions in the field of computer science are algorithms, networking, and virtual reality. I am currently seeking experiences that will help me gain additional skills as a software developer.</p>
            </div>
        </div>
        <div class="row no-bottom-margin">
            <div class="col s12 m9 offset-m1 l7 offset-l3">
                <p class="slim dark-grey-text no-bottom-margin">
                    <a class="site-link" ui-sref="portfolio">Check out the projects I've worked on</a> or <a class="site-link" ui-sref="skills">take a look at my skills</a>.
                </p>
            </div>
        </div>
    </div>
</div>
