<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m9 offset-m1">
                <h1 class="header center-on-small-only light">Contact</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 offset-m1">
                <h5><a class="site-link" href="mailto:amaczugowski@gmail.com"><i class="mdi mdi-mail-ru left"></i>amaczugowski@gmail.com</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 offset-m1">
                <h5><a class="site-link" href="http://www.github.com/amaczugowski" target="_blank"><i class="mdi mdi-github-box left"></i>amaczugowski</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 offset-m1">
                <h5><a class="site-link" href="http://www.linkedin.com/in/andrew-maczugowski" target="_blank"><i class="mdi mdi-linkedin-box left"></i>Andrew Maczugowski</a></h5>
            </div>
        </div>
    </div>
</div>
