<div class="section">
    <div class="container">
        <div class="row center-align">
            <h1 class="light blue-grey-text developer" >Developer.</h1>
        </div>
        <h5 class="row center-align thin hide-on-large-only">
            <a ui-sref="about" class="teal-text site-link">about</a> | <a ui-sref="skills" class="teal-text site-link">skills</a>
        </h5>
        <div class="row center-align">
            <a ng-click="shared.waitAndGo('contact', 200)" class="waves-effect waves-light btn-large">Contact</a>
        </div>
    </div>
</div>
